/node_modules/
/package-lock.json
/hfc-key-store/
/express-app/myapp/node_modules/
/organizations/fabric-ca/ordererOrg/msp
/organizations/fabric-ca/ordererOrg/ca-cert.pem
/organizations/fabric-ca/ordererOrg/fabric-ca-server.db
/organizations/fabric-ca/ordererOrg/IssuerPublicKey
/organizations/fabric-ca/ordererOrg/IssuerRevocationPublicKey
/organizations/fabric-ca/ordererOrg/tls-cert.pem

/organizations/fabric-ca/org1/msp
/organizations/fabric-ca/org1/ca-cert.pem
/organizations/fabric-ca/org1/fabric-ca-server.db
/organizations/fabric-ca/org1/IssuerPublicKey
/organizations/fabric-ca/org1/IssuerRevocationPublicKey
/organizations/fabric-ca/org1/tls-cert.pem

/organizations/fabric-ca/org2/msp
/organizations/fabric-ca/org2/ca-cert.pem
/organizations/fabric-ca/org2/fabric-ca-server.db
/organizations/fabric-ca/org2/IssuerPublicKey
/organizations/fabric-ca/org2/IssuerRevocationPublicKey
/organizations/fabric-ca/org2/tls-cert.pem

/channel-artifacts/
/fabcar.tar.gz
/log.txt
/organizations/ordererOrganizations/
/organizations/peerOrganizations/
/system-genesis-block/
/express-app/myapp/wallet/